

<div class="col-md-12 mx-auto">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">


        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <a class="btn btn-primary w-50 mt-2 mb-4 ml-2 w-100" href="/Admin/Certificate/Create">New Certificate</a>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Certificate</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Image</th>
                                        <th>Date Time</th>
                                        <th>Settings</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Img</td>
                                            <td>@item.Time</td>

                                            <td>
                                                <a class="btn btn-danger " href="/Admin/Certificate/Delete/@item.Id">Delete</a>
                                                <a class="btn btn-success " href="/Admin/Certificate/Update/@item.Id">Update</a>

                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->
</div>