<div class="col-md-8 mx-auto my-auto">
    <div class="card text-center" >
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Email ~ @Model.Name</p>
            <p class="card-text">@Model.Time</p>
            <a href="/Admin/Message" class="btn btn-primary w-50 ">Back Page Message</a>
        </div>
    </div>
</div>