<!--/ Intro Skew Star /-->
<div class="intro intro-single route bg-image" style="background-image: url(img/overlay-bg.jpg); height: 90px;">
    <div class="overlay-mf"></div>
</div>

<!--/ Intro Skew End /-->
<!--/ Section Blog-Single Star /-->
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-box">
                    <div class="post-thumb text-center">
                        <img src="@Model.Img" class="img-fluid w-50" alt="">
                    </div>
                    <div class="post-meta text-center">
                        <h1 class="article-title mt-5">@Model.Name</h1>


                    </div>
                    <div class="article-content mt-4 text-center">
                        <p>
                            @Model.Description
                        </p>



                        <h6 class="mt-5 text-center">@Model.Title ~ @Model.Time</h6>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

